/* 
// Type Selectors     | value: 1     | e.g. img
// Class Selectors    | value: 2     | e.g. .recipe-card
// Id Selectors       | value: 100   | e.g. #container
*/

* {
    line-height: 1.5;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(231, 231, 231);
}

header{
    width: auto;
    height: 4vh;
    padding: 30px;
    background-color: rgb(236, 193, 200);
    font-weight: 100;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px){
    img{
        max-width: 50%;
    }
}

@media (max-width: 480px){
    img{
        max-width: 30%;
    }
}

h1 {
    color: darkblue;
    text-transform: uppercase;
}

#container{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.container{
    width: 60%;
    height: auto;
    align-self: stretch;
    padding: 20px;
    background-color: rgb(189, 230, 230);
    border: 4px solid rgb(44, 197, 197);
    color: rgb(102, 6, 6);
    text-align: center;
}

.recipe-card {
    text-align: left;
}

.recipe-title{
    font-weight: bold;
}